<%- include ./partials/header %>

<!-- Navbar **************************** -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Plume.svg/1010px-Plume.svg.png" width="30"
      height="30" alt="">
  </a>
  <a class="navbar-brand" href="#">Author's Cafe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  ​
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <a class="btn btn-primary my-2 my-sm-0" href="/signup">Sign Up</a>
      <a class="btn btn-primary my-2 my-sm-0" href="/signin" style="margin-left: 10px">Sign In</a>
    </form>
  </div>
</nav>

<!-- MastHead -->
<div class="row">
  <div class="col" style="text-align: center; background-color: black; color: whitesmoke;">
    <h1 style="text-align: right; font-size: 5rem; margin-top: 15%">
      GET STARTED<br>
      WITH YOUR<br>
      WRITING JOURNEY
    </h1>
  </div>
  <div class="col">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Plume.svg/1010px-Plume.svg.png" width="70%">
  </div>
</div>

<!-- start publishing button -->
<div class="row">
  <div class="col">
    <div style="margin-top: 17%">
      <center>
        <a class="btn btn-dark  my-2 my-sm-0" href="/signin" style="font-size: 2rem; color: white; padding: 25px">START
          WRITING</a>
      </center>
    </div>
  </div>
  <div class="col">
    <div style="margin-top: 14%">
      <center>
        <h2 style="margin-top: 10px">BECOME AN</h2>
      </center>
      <center>
        <h1 style="margin-top: 10px; font-size: 4rem">AUTHOR</h1>
      </center>
    </div>
  </div>
</div>

<!-- Stories Div -->
<h1 style="margin-top: 50px">
  <center>Your Stories</center>

</h1>

<div class="container" style="display: flex; margin-top: 50px">

  <div class="card m-3" style="width: 18rem; margin-top: 50px">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card m-3" style="width: 18rem; margin-top: 50px">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card m-3" style="width: 18rem; margin-top: 50px">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<!-- <div style="background-color: black; display: flex; height: 50px;" >
  <input class="form-control mr-sm-2" type="text" placeholder="Your Email" style="max-width: 500px">
  <a class="btn btn-primary">Sign Up</a>

</div> -->


<%- include ./partials/footer %>